#navbar {
  display: flex;
}

#menuToggle {
  display: none;
}

#menuIcon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px;
}

#sideMenu {
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  position: fixed;
  left: -250px;
  transition: left 0.3s ease;
}

#sideMenu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.open {
  left: 0;
}
