<!-- nav.component.html -->

<div id="app">
  <nav>
    <ng-container *ngIf="!isLoggedIn()">
      <a routerLink="/">Home</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Registration</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn()">
      <a routerLink="/home">Home</a>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/book-cab">BookCab</a>
      <a routerLink="/myBookings">MyBookings</a>
      <a routerLink="/about">AboutUs</a>
      <a routerLink="/contact">ContactUs</a>
      <a (click)="logout()">Logout ({{this.username}})</a>
    </ng-container>
  </nav>
</div>
